
.DS_Store
.vs/LabuteCalatoare/xs/UserPrefs.xml
.vs/LabuteFericite/xs/project-cache/LabuteCalatoare.DataBase-Debug.json
.vs/LabuteFericite/xs/project-cache/LabuteCalatoare.WebApi-Debug.json
LabuteCalatoare.Business/obj/Debug/netcoreapp3.1/LabuteCalatoare.Business.csproj.AssemblyReference.cache
LabuteCalatoare.Business/obj/Debug/netcoreapp3.1/LabuteCalatoare.Business.csproj.FileListAbsolute.txt
LabuteCalatoare.DataBase/bin/Debug/netcoreapp3.1/LabuteCalatoare.DataBase.deps.json
LabuteCalatoare.DataBase/bin/Debug/netcoreapp3.1/LabuteCalatoare.DataBase.dll
LabuteCalatoare.DataBase/bin/Debug/netcoreapp3.1/LabuteCalatoare.DataBase.pdb
LabuteCalatoare.DataBase/LabuteCalatoare.DataBase.csproj
LabuteCalatoare.DataBase/obj/Debug/netcoreapp3.1/LabuteCalatoare.DataBase.assets.cache
LabuteCalatoare.DataBase/obj/Debug/netcoreapp3.1/LabuteCalatoare.DataBase.csproj.AssemblyReference.cache
LabuteCalatoare.DataBase/obj/Debug/netcoreapp3.1/LabuteCalatoare.DataBase.csproj.CoreCompileInputs.cache
LabuteCalatoare.DataBase/obj/Debug/netcoreapp3.1/LabuteCalatoare.DataBase.dll
LabuteCalatoare.DataBase/obj/Debug/netcoreapp3.1/LabuteCalatoare.DataBase.pdb
LabuteCalatoare.DataBase/obj/LabuteCalatoare.DataBase.csproj.nuget.dgspec.json
LabuteCalatoare.DataBase/obj/LabuteCalatoare.DataBase.csproj.nuget.g.props
LabuteCalatoare.DataBase/obj/LabuteCalatoare.DataBase.csproj.nuget.g.targets
LabuteCalatoare.DataBase/obj/project.assets.json
LabuteCalatoare.DataBase/obj/project.nuget.cache
LabuteCalatoare.Infrastructure/obj/Debug/netcoreapp3.1/LabuteCalatoare.Infrastructure.assets.cache
LabuteCalatoare.Infrastructure/obj/Debug/netcoreapp3.1/LabuteCalatoare.Infrastructure.csproj.AssemblyReference.cache
LabuteCalatoare.Infrastructure/obj/LabuteCalatoare.Infrastructure.csproj.nuget.dgspec.json
LabuteCalatoare.Infrastructure/obj/LabuteCalatoare.Infrastructure.csproj.nuget.g.props
LabuteCalatoare.Infrastructure/obj/LabuteCalatoare.Infrastructure.csproj.nuget.g.targets
LabuteCalatoare.Infrastructure/obj/project.assets.json
LabuteCalatoare.Infrastructure/obj/project.nuget.cache
LabuteCalatoare/bin/Debug/netcoreapp3.1/Castle.Core.dll
LabuteCalatoare/bin/Debug/netcoreapp3.1/cs/Microsoft.CodeAnalysis.CSharp.resources.dll
LabuteCalatoare/bin/Debug/netcoreapp3.1/cs/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
LabuteCalatoare/bin/Debug/netcoreapp3.1/cs/Microsoft.CodeAnalysis.resources.dll
LabuteCalatoare/bin/Debug/netcoreapp3.1/cs/Microsoft.CodeAnalysis.Workspaces.resources.dll
LabuteCalatoare/bin/Debug/netcoreapp3.1/de/Microsoft.CodeAnalysis.CSharp.resources.dll
LabuteCalatoare/bin/Debug/netcoreapp3.1/de/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
LabuteCalatoare/bin/Debug/netcoreapp3.1/de/Microsoft.CodeAnalysis.resources.dll
LabuteCalatoare/bin/Debug/netcoreapp3.1/de/Microsoft.CodeAnalysis.Workspaces.resources.dll
LabuteCalatoare/bin/Debug/netcoreapp3.1/dotnet-aspnet-codegenerator-design.dll
LabuteCalatoare/bin/Debug/netcoreapp3.1/es/Microsoft.CodeAnalysis.CSharp.resources.dll
LabuteCalatoare/bin/Debug/netcoreapp3.1/es/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
LabuteCalatoare/bin/Debug/netcoreapp3.1/es/Microsoft.CodeAnalysis.resources.dll
LabuteCalatoare/bin/Debug/netcoreapp3.1/es/Microsoft.CodeAnalysis.Workspaces.resources.dll
LabuteCalatoare/bin/Debug/netcoreapp3.1/fr/Microsoft.CodeAnalysis.CSharp.resources.dll
LabuteCalatoare/bin/Debug/netcoreapp3.1/fr/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
LabuteCalatoare/bin/Debug/netcoreapp3.1/fr/Microsoft.CodeAnalysis.resources.dll
LabuteCalatoare/bin/Debug/netcoreapp3.1/fr/Microsoft.CodeAnalysis.Workspaces.resources.dll
LabuteCalatoare/bin/Debug/netcoreapp3.1/it/Microsoft.CodeAnalysis.CSharp.resources.dll
LabuteCalatoare/bin/Debug/netcoreapp3.1/it/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
LabuteCalatoare/bin/Debug/netcoreapp3.1/it/Microsoft.CodeAnalysis.resources.dll
LabuteCalatoare/bin/Debug/netcoreapp3.1/it/Microsoft.CodeAnalysis.Workspaces.resources.dll
LabuteCalatoare/bin/Debug/netcoreapp3.1/ja/Microsoft.CodeAnalysis.CSharp.resources.dll
LabuteCalatoare/bin/Debug/netcoreapp3.1/ja/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
LabuteCalatoare/bin/Debug/netcoreapp3.1/LabuteCalatoare.DataBase.pdb
LabuteCalatoare/bin/Debug/netcoreapp3.1/LabuteCalatoare.DataBase.dll
LabuteCalatoare/bin/Debug/netcoreapp3.1/ko/Microsoft.CodeAnalysis.Workspaces.resources.dll
LabuteCalatoare/bin/Debug/netcoreapp3.1/ko/Microsoft.CodeAnalysis.resources.dll
LabuteCalatoare/bin/Debug/netcoreapp3.1/ko/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
LabuteCalatoare/bin/Debug/netcoreapp3.1/ko/Microsoft.CodeAnalysis.CSharp.resources.dll
LabuteCalatoare/bin/Debug/netcoreapp3.1/ja/Microsoft.CodeAnalysis.Workspaces.resources.dll
LabuteCalatoare/bin/Debug/netcoreapp3.1/ja/Microsoft.CodeAnalysis.resources.dll
LabuteCalatoare.Business/bin/Debug/netcoreapp3.1/LabuteCalatoare.Business.deps.json
LabuteCalatoare.Business/bin/Debug/netcoreapp3.1/LabuteCalatoare.Business.dll
LabuteCalatoare.Business/bin/Debug/netcoreapp3.1/LabuteCalatoare.Business.pdb
LabuteCalatoare.Business/obj/Debug/netcoreapp3.1/LabuteCalatoare.Business.AssemblyInfo.cs
LabuteCalatoare.Business/obj/Debug/netcoreapp3.1/LabuteCalatoare.Business.AssemblyInfoInputs.cache
LabuteCalatoare.Business/obj/Debug/netcoreapp3.1/LabuteCalatoare.Business.assets.cache
LabuteCalatoare.Business/obj/Debug/netcoreapp3.1/LabuteCalatoare.Business.csproj.CoreCompileInputs.cache
LabuteCalatoare.Business/obj/Debug/netcoreapp3.1/LabuteCalatoare.Business.csproj.FileListAbsolute.txt
LabuteCalatoare.Business/obj/Debug/netcoreapp3.1/LabuteCalatoare.Business.dll
LabuteCalatoare.Business/obj/Debug/netcoreapp3.1/LabuteCalatoare.Business.GeneratedMSBuildEditorConfig.editorconfig
LabuteCalatoare.Business/obj/Debug/netcoreapp3.1/LabuteCalatoare.Business.pdb
LabuteCalatoare.DataBase/bin/Debug/netcoreapp3.1/LabuteCalatoare.DataBase.deps.json
LabuteCalatoare.DataBase/bin/Debug/netcoreapp3.1/LabuteCalatoare.DataBase.dll
LabuteCalatoare.DataBase/bin/Debug/netcoreapp3.1/LabuteCalatoare.DataBase.pdb
LabuteCalatoare.DataBase/obj/Debug/netcoreapp3.1/LabuteCalatoare.DataBase.csproj.AssemblyReference.cache
LabuteCalatoare.DataBase/obj/Debug/netcoreapp3.1/LabuteCalatoare.DataBase.dll
LabuteCalatoare.DataBase/obj/Debug/netcoreapp3.1/LabuteCalatoare.DataBase.pdb
LabuteCalatoare.Infrastructure/obj/Debug/netcoreapp3.1/LabuteCalatoare.Infrastructure.assets.cache
LabuteCalatoare.Infrastructure/obj/Debug/netcoreapp3.1/LabuteCalatoare.Infrastructure.csproj.AssemblyReference.cache
LabuteCalatoare/bin/Debug/netcoreapp3.1/LabuteCalatoare.WebApi
LabuteCalatoare/bin/Debug/netcoreapp3.1/LabuteCalatoare.WebApi.deps.json
LabuteCalatoare/bin/Debug/netcoreapp3.1/LabuteCalatoare.WebApi.dll
LabuteCalatoare/bin/Debug/netcoreapp3.1/LabuteCalatoare.WebApi.pdb
LabuteCalatoare/obj/Debug/netcoreapp3.1/LabuteCalatoare.WebApi.assets.cache
LabuteCalatoare/obj/Debug/netcoreapp3.1/LabuteCalatoare.WebApi.csproj.AssemblyReference.cache
LabuteCalatoare/obj/Debug/netcoreapp3.1/LabuteCalatoare.WebApi.csproj.FileListAbsolute.txt
LabuteCalatoare/obj/Debug/netcoreapp3.1/LabuteCalatoare.WebApi.dll
LabuteCalatoare/obj/Debug/netcoreapp3.1/LabuteCalatoare.WebApi.MvcApplicationPartsAssemblyInfo.cs
LabuteCalatoare/obj/Debug/netcoreapp3.1/LabuteCalatoare.WebApi.pdb
